@import url('reset.css');

html {
	font-size: 62.5%;
	--primary-color: rgb(6, 6, 6);
	--secondary-color: rgb(245, 194, 2)
}
body {
	font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
	color: var(--primary-color);

}
/* ------------ wrapper置中層 ------------ */
.wrapper {
	width: 1200px;
	margin: 0 auto;
	/* border: 2px solid red; */
}

/* ------------ mouse trailer ------------ */
#trailer {
	width: 2rem;
	height: 2rem;
	background-color: black;
	border-radius: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	pointer-events: none;
	opacity: 0;
	transition: opacity 500ms ease;
}
body:hover  #trailer {
	opacity: 1;
}

/* ------------ nav導覽列 ------------ */
nav {
	width: 82%;
	height: 5rem;
	margin: 1rem auto 2rem;

	/* display: flex;
	justify-content: space-between;
	align-items: center; */

	border: .4rem double var(--primary-color);
}
nav img {
	display: block;
	width: 4rem;
	margin-left: 2rem;

	float: left
}

nav ul {
	/* flex-basis: 68%; */
	width:68%;
	height: 6rem;

	/* display: flex;
	align-items: center;
    justify-content: center; */

	margin-right: 2rem;

	float: right;
}
nav ul li {
	line-height: 2rem;

	/* flex-grow: 1;
	flex-shrink:1; */

	float: left;

	margin-right: 1rem;
	
	list-style: none;
	/* overflow: hidden; */
}
nav ul li a {
	display: block;
	position: relative;

	text-decoration: none;
}
nav ul li a span {
	display: block;
	position: relative;
	z-index: 0;

	padding-top: 2rem;

	font-size: 2.4rem;
	font-weight: bolder;
	color: var(--primary-color);
}
nav ul li a::before {
	content: attr(data-en);
	color: rgba(6, 6, 6, .2);

	font-size: 2.2rem;
	font-weight: 900;
	position: absolute;
	top: 6%;
	left: 0;
}
/* ------------ nav hover ------------ */
nav ul li:hover a{
	background-image: linear-gradient(rgb(0, 0, 0, 0) 60%, var(--secondary-color) 99%);
}
/* ------------ nav active ------------ */
nav ul li.active a{
	background-image: linear-gradient(rgb(0, 0, 0, 0) 60%, var(--secondary-color) 99%);
}



/* ------------ footer ------------ */
footer {
	background: linear-gradient(100deg, var(--primary-color), transparent), url(https://grainy-gradients.vercel.app/noise.svg);	
	filter: contrast(180%) brightness(1000%);
	width: 100%;

	margin-top: 6rem;
	padding: 3rem 10%;
	box-sizing: border-box;

	display: flex;	
}
footer div {
	color: white;
	text-align: center;
}
footer div h3 {
	font-weight: 300;
	margin-bottom: 2rem;
	letter-spacing: .1rem;
}
/* ------------ footer-col1 ------------ */
footer div.col-1 a{
	display: block;
	text-decoration: none;
	color: white;
	margin-bottom: 1.2rem;
}
/* ------------ footer-col2 ------------ */
footer div.col-2 {
	flex-grow: 2;
}
footer div.col-2 form input {
	width: 60%;
	height: 5rem;
	margin: 2rem 0 4rem;

	text-align: center;
}
footer div.col-2 form button {
	background-color: transparent;
	border: .2rem solid white;
	border-radius: 3rem;
	padding: 1rem 3rem;

	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}
/* ------------ footer-col3 ------------ */
footer div.col-3 {
	color: black;
}
footer div.col-3 div.social-icons{
	margin-top: 3rem;
}
footer div.col-3 div.social-icons i{
	margin: 1rem;
	
	font-size: 2.6rem;
	color: var(--primary-color);
	cursor: pointer;
}

/* ------------ scrollbar ------------ */
::-webkit-scrollbar {
	width: auto;
}
::-webkit-scrollbar-track {
	background-color: var(--primary-color);;
}
::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);;
	border-radius: 2rem;
}


/* ------------ 彩蛋 ------------ */
img.richard {
	display: block;
	width: 45%;
	border-radius: 50%;
	position: fixed;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}
img.hidden {
	display: none;
}

@media screen and (max-width: 414px) {
	/* ------------ nav導覽列 ------------ */
	/* 基本設定 */
	nav {
		width: 100%;
		height: 12rem;
		position: relative;
	}
	nav img {
		width: 10rem;
		margin: 1rem 2rem 0;
	}		
	nav ul li a {
	}
	nav ul li a span {
		line-height: 11rem;	
		font-size: 10rem;
		text-align: center;
	}
	nav ul li a::before {
		display: none;
	}

	/* 進階設定 */
	.menu.expanded {
		width: 100%;
	}
	.menu ul {
		clear: both;
    	position: absolute;
    	right: -25px;
    	top: 130px;
    	width: 100%;

		z-index: 99;		
	}
	.menu li {
		float: none;
    	clear: both;
		background-color: #fff;
		border: .4rem double lightgray;

		visibility: visible;
		opacity: 1;
		transition: 0.3s;
		transform: rotateY(0deg);
	}
	.menu li:nth-child(1) {
		transition-delay: 0.4s;
	}
	.menu li:nth-child(2) {
		transition-delay: 0.5s;
	}
	.menu li:nth-child(3) {
		transition-delay: 0.6s;
	}
	.menu li:nth-child(4) {
		transition-delay: 0.7s;
	}
	.menu li:nth-child(5) {
		transition-delay: 0.8s;
	}
	.menu li:nth-child(6) {
		transition-delay: 0.9s;
	}
	.menu li.hidden {
		/* width: 0; */
		visibility: hidden;
		opacity: 0;
		transform: rotateY(90deg);
	}
	.menu li.hidden:nth-child(1) {
		transition-delay: 0.7s;
	}
	.menu li.hidden:nth-child(2) {
		transition-delay: 0.6s;
	}
	.menu li.hidden:nth-child(3) {
		transition-delay: 0.5s;
	}
	.menu li.hidden:nth-child(4) {
		transition-delay: 0.4s;
	}
	.menu li.hidden:nth-child(5) {
		transition-delay: 0.3s;
	}
	.menu li.hidden:nth-child(6) {
		transition-delay: 0.2s;
	}

	.menu .container {
		display: block;
		float: right;
		margin: 1rem 2rem 0;
	}
	.toggle {
		width: 10rem;
		height: 10rem;

		position: relative;
		cursor: pointer;
	}
	.toggle:after, .toggle:before {
		content: "";
		background: black;
		width: 6rem;
		height: 1.2rem;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
	}
	.toggle:before {
		top: -30%;
	}
	.toggle:after {
		top: 30%;
	}
	.toggle.close:before {
		transform: rotate(-225deg);
		top: 0;
	}
	.toggle.close:after {
		transform: rotate(225deg);
		top: 0;
	}


	/* ------------ footer ------------ */
	footer {
	}
	footer div {
	}
	footer div h3 {
		font-size: 6rem;
	}
	/* ------------ footer-col1 ------------ */
	footer div.col-1{
		display: none;
	}
	/* ------------ footer-col2 ------------ */
	footer div.col-2 {
		width: 50%;
	}
	footer div.col-2 form input {
		width: 90%;
	}
	footer div.col-2 form button {
		font-size: 3rem;
	}
/* ------------ footer-col3 ------------ */
	footer div.col-3 {
		width: 50%;
	}
	footer div.col-3 p {
		font-size: 3.1rem;
	}
	footer div.col-3 div.social-icons{
	}
	footer div.col-3 div.social-icons i{
		font-size: 7rem;
	}



	
}